auto-save-list/
elpa/
eshell/
projectile-bookmarks.eld
recentf*
\#*\#
*\#*
transient/
*.cache
*.data
url/
server/
emms/
request/
*~
GPATH
GRTAGS
GTAGS
bookmarks
NUL
ido.last
newsticker/
tramp
diary
